APP_NAME=OMC Leads API
APP_VERSION=0.1.0

# Opcion 1 (recomendada para Supabase)
DATABASE_URL=postgresql+psycopg://postgres:password@db.xxxxx.supabase.co:5432/postgres

# Opcion 2 (si no usas DATABASE_URL)
# DB_USER=postgres
# DB_PASSWORD=password
# DB_HOST=db.xxxxx.supabase.co
# DB_PORT=5432
# DB_NAME=postgres

DB_AUTO_CREATE=true

CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]
